article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article button {
    border: 1px solid purple;
    font-size: 10px;
    width: 80px;
    margin: 6px;
    color: purple;
    background-color: white;
}

article span {
    color: #333;
    font-size: 14px;
    width: 100px;
    display: inline-block;
    overflow: clip;
    text-overflow: ellipsis;
}

article div {
    width: 300px;
    justify-content: center;
    margin: 10px 20px;
}

#showCase {
    display: block;
    border: none;
    padding: 5px 15px;
    color: white;
    background-color: purple;
    margin: 10px auto;
}

.hidden {
    display: none;
}

.showCasePokemon {
    display: block;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 3px;
    margin: auto;
    display: block;
}

h2 {
    text-align: center;
    margin: 25px 0 15px 0;
    font-size: 60px;
    color: #ffcd05;
    -webkit-text-stroke: 6px #3563ad;
    text-shadow: 0px 0px 4px #1d2c5e;
    font-family: 'Pokemon';
    user-select: none;
}
